.sub {
    width:100%;
    background: #fff;
    #section1 {
        width:100%;
        .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .content {
                width:100%;
                padding: 0 9px;
                a {
                    display: block;
                    width:100%;
                    img {
                        width:100%;
                    }
                }
            }
        }
    }
    #section2 {
        width: 100%;
        padding: 0;
        .container {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            .title {
                width: auto;
                padding: 80px 0 60px 0;
                margin:0 9px; 
                h2 {
                    font-size: 24px;
                    text-align: center;
                    color:#000;
                    font-weight: 600;
                }
            }
            .content {
                width: 100%;
                display: flex;
                .left {
                    position: sticky;
                    top: 80px;
                    left:0;
                    width: 25%;                    
                    height: 100vh;
                    overflow-y: auto;
                    padding-bottom: 50px;
                    padding-right: 40px;

                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background: #fff;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #fff;
                    }


                    .col-gap {
                        margin: 0 9px;
                        width:auto;
                        .top {
                            padding: 0 0 20px 0;
                            display: flex;
                            justify-content: space-between;                            
                            strong {
                                font-size: 15px;
                                font-weight: 600;
                                color: #333;
                            }
                            a {
                                img {width:auto;}
                                em {
                                    margin: 0 0 0 5px;
                                    color: #ddd;
                                    font-size: 14px;
                                    font-weight: 500;
                                }
                            }
                        }
                        .category {
                            width: 100%;
                            user-select: none;
                            > ul {
                                width: 100%;
                               > li {
                                    width: 100%;
                                    border-top:1px solid #e0e0e0;
                                   > a {
                                        width: 100%;
                                        display: flex;
                                        height: 52px;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color:#333;
                                        position: relative;
                                        &::after {
                                            position: absolute;
                                            right:0;
                                            top:0;
                                            content: '';
                                            display: block;
                                            width:18px;
                                            height:100%;
                                            background: url(../../../../public/img/sub/sub1/arrow.svg) no-repeat 100% 50%;
                                            background-size: 18px auto;  
                                            transition: all 0.3s;  
                                        }
                                        &.on::after { 
                                            transform: rotate(180deg);
                                        }
                                    }

                                    .sub {                                        
                                        width: 100%;
                                        padding: 0 0 10px 0;
                                        height: 0;
                                        overflow: hidden;
                                        &.sub1{
                                            &.on{ 
                                                animation: subAni11on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni11off 0.3s ease-in-out both;                                                
                                            }
                                        }
                                        &.sub2{                                            
                                            &.on{ 
                                                animation: subAni12on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni12off 0.3s ease-in-out both;                                                
                                            }
                                        }
                                        &.sub3{                                            
                                            &.on{ 
                                                animation: subAni13on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni13off 0.3s ease-in-out both;                                                
                                            }
                                        }
                                        &.sub4{
                                            &.on{ 
                                                animation: subAni14on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni14off 0.3s ease-in-out both;                                                
                                            }                                            
                                        }
                                        &.sub5{                                            
                                            &.on{ 
                                                animation: subAni15on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni15off 0.3s ease-in-out both;                                                
                                            }    
                                        }
                                        &.sub6{
                                            &.on{ 
                                                animation: subAni16on 0.3s ease-in-out both;                                                
                                            }
                                            &.off{ 
                                                animation: subAni16off 0.3s ease-in-out both;                                                
                                            }    
                                        }

                                        @keyframes subAni11on {
                                              0% {height: 0;}   
                                            100% {height: 410px;}    
                                        }
                                        @keyframes subAni11off {
                                              0% {height: 410px;}   
                                            100% {height: 0;}    
                                        }

                                        @keyframes subAni12on {
                                              0% {height: 0;}   
                                            100% {height: 194px;}    
                                        }
                                        @keyframes subAni12off {
                                              0% {height: 194px;}   
                                            100% {height: 0;}    
                                        }

                                        @keyframes subAni13on {
                                              0% {height: 0;}   
                                            100% {height: 122px;}    
                                        }
                                        @keyframes subAni13off {
                                              0% {height: 122px;}   
                                            100% {height: 0;}    
                                        }

                                        @keyframes subAni14on {
                                              0% {height: 0;}   
                                            100% {height: 410px;}    
                                        }
                                        @keyframes subAni14off {
                                              0% {height: 410px;}   
                                            100% {height: 0;}    
                                        }

                                        @keyframes subAni15on {
                                              0% {height: 0;}   
                                            100% {height: 122px;}    
                                        }
                                        @keyframes subAni15off {
                                              0% {height: 122px;}   
                                            100% {height: 0;}    
                                        }

                                        @keyframes subAni16on {
                                              0% {height: 0;}   
                                            100% {height: 122px;}    
                                        }
                                        @keyframes subAni16off {
                                              0% {height: 122px;}   
                                            100% {height: 0;}    
                                        }


                                        ul {
                                            width: 100%;
                                            padding: 0 0 10px 0;
                                            li {
                                                width: 100%;
                                                height: 36px;
                                                line-height: 36px;
                                                label { // 라벨 => 레이블(이름표)
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color:#333; 
                                                    display: block;
                                                    cursor: pointer;
                                                    &:hover {
                                                        color: #5f0080;
                                                    }
                                                    input[type='checkbox'] {
                                                        margin-right: 6px;
                                                        width: 18px;
                                                        height: 18px;
                                                        appearance: none;
                                                        border-radius: 50%;
                                                        background: url(../../../../public/img/sub/sub1/check_off.svg) no-repeat 50% 50%;
                                                        &:checked {
                                                            background-image: url(../../../../public/img/sub/sub1/check_on.svg);    
                                                        }
                                                    }  
                                                    em {
                                                        color:#ccc;
                                                        font-weight: normal;
                                                        font-size: 12px;
                                                        margin-left: 5px;
                                                        vertical-align: top;                                                       
                                                    }                                                
                                                }
                                            }
                                        }
                                        .category-more-view-btn {
                                            width: 100%;
                                            height: 30px;
                                            color:#999;
                                            font-size: 12px;
                                            background: none;
                                            border: 0;
                                            cursor: pointer;
                                            img {
                                                transform: rotate(-90deg) translateX(2px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width: 75%;   
                    .top {
                        padding: 0 9px 15px 9px;
                        display: flex;
                        justify-content: space-between;  
                        font-size:14px;                        
                        .top-left {
                            strong{
                                color:#333;
                            }                            
                        }
                        .top-right {
                            a {
                                color:#999;
                                margin-left: 17px;
                                &.on {
                                    color:#000;
                                    font-weight: 600;
                                }
                            }
                        }
                    }                  
                    >ul {
                        width: 100%; 
                        display: flex;
                        flex-flow: row wrap;
                        >li {
                            width: 33.333%;
                            .col-gap {
                                margin: 0 9px 50px 0;
                                width:auto;
                               > div {
                                    width:100%;
                                    &.img-box {
                                        width:100%;
                                        cursor: pointer;
                                        overflow: hidden;
                                        img {
                                            width:100%;
                                            transition: all 0.5s ease-in-out;
                                        }
                                        &:hover {
                                            img {
                                                transform: scale(1.05);
                                            }
                                        }
                                    }
                                    &.button-box {
                                        padding: 10px 0;
                                        width:100%;
                                        a {
                                            border-radius: 3px;
                                            display: flex;
                                            font-size: 16px;
                                            color: #222;
                                            img {width:22px;}
                                            justify-content: center;
                                            align-items: center;
                                            height: 36px;
                                            border: 1px solid #ccc;
                                            font-weight: 600;
                                        }
                                    }
                                    &.txt-box {
                                        width:100%;
                                        ul {
                                            width:100%;
                                            line-height: 180%;
                                            li {
                                                width:100%;
                                                display: flex;
                                                em {font-size: 14px;color:#999;}
                                                h2 {font-size: 16px;color:#333;font-weight: 500;letter-spacing: -0.5px;}
                                                h3 {font-size: 12px;color:#999;}
                                                h4 {font-size: 14px;color:#999;text-decoration: line-through;}
                                                strong {color:#fa622f;font-size: 16px;font-weight: 600;}
                                                h5 {margin-left:10px;color:#333;font-size: 16px;font-weight: 600;}
                                                h6 {color:#5f0080;font-size: 12px;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}