#sub4 {
    width:100%;
    background: #fff;
    #section1 {
        width:100%;
        .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .content {
                width:100%;
                padding: 0 9px;
                a {
                    display: block;
                    width:100%;
                    img {
                        width:100%;
                    }
                }
            }
        }
    }
    #section2 {
        width: 100%;
        padding: 0;
        .container {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            .title {
                width: auto;
                padding: 80px 0 60px 0;
                margin:0 9px; 
                h2 {
                    font-size: 24px;
                    text-align: center;
                    color:#000;
                    font-weight: 600;
                }
            }
            .content {
                width: 100%;
                .right {
                    width: 100%;   
               
                    >ul {
                        width: 100%; 
                        display: flex;
                        flex-flow: row wrap;
                        >li {
                            width: 100%;
                            .col-gap {
                                margin: 0 9px 10px 9px;
                                width:auto;
                               > div {
                                    width:100%;
                                    &.img-box {
                                        width:100%;
                                        cursor: pointer;
                                        overflow: hidden;
                                        img {
                                            width:100%;
                                            transition: all 0.5s ease-in-out;
                                        }
                                        &:hover {
                                            img {
                                                transform: scale(1.05);
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}