%starMark {
    color:#c00;
    margin: 0 3px;
    transform: translateY(-1px);
}

#sub5 {
    width: 100%;
    #signUp {
        width: 100%;
        user-select: none;
        .container {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;
            .title {
                width: 100%;
                padding: 50px 0 10px 0;
                border-bottom: 2px solid #111;
                h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 28px;
                    font-weight: 600;
                    color:#333;
                    padding: 0 0 60px 0;
                }
                h3 {
                    text-align: right;                    
                    em {
                        font-size: 12px;
                        color:#999;
                        i {
                            @extend %starMark;
                        }
                    }
                }
            }
            .content {
                width: 100%;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        padding: 10px 20px;
                        &.ico_sub_dot{
                            padding: 0 20px 10px 20px;
                        }
                        hr {
                            border:0;
                            border-bottom: 1px solid #111;
                        }
                        .gap {
                            width: 100%;
                            padding: 0 118px 0 139px;
                            position: relative;
                            &.service-gap {
                               padding-right: 0;                                
                            }
                            > label {    
                                position: absolute;
                                left: 0;
                                top: 0;
                                font-size: 14px;
                                font-weight: 600;
                                color:#333;
                                height: 46px;
                                display: flex;
                                align-items: center;
                                &.service-label {
                                    align-items: flex-start;                                   
                                }
                                i {
                                    @extend %starMark;
                                }
                            }
                            input {
                                &[type='text'],
                                &[type='password'] {
                                    width:100%;
                                    height: 46px;
                                    border:1px solid #ddd;
                                    padding: 0 20px;
                                    border-radius: 3px;
                                    font-size: 16px;
                                    outline: 1px solid transparent;
                                    outline-offset: -1px;
                                    transition: all 0.3s ease-in-out;
                                    color:#666;
                                    &:focus {
                                        outline-color: #777;
                                    }
                                    &::placeholder {
                                        color:#999;
                                    }
                                }
                                // 성별 & 추가입력사항
                                &[type='radio']{
                                    width: 24px;
                                    height: 24px;
                                    appearance: none;
                                    border-radius: 50%;
                                    border: 1px solid #ddd;
                                    margin-right: 10px;
                                    &:checked {
                                        border: 6px solid #5f0080;
                                    }
                                }
                                // 이용약관동의
                                &[type='checkbox']{
                                    width: 24px;
                                    height: 24px;
                                    appearance: none;
                                    border-radius: 50%;
                                    border: 0;
                                    margin-right: 10px;
                                    background: url(../../../../public/img/sub/sub5/check_off.svg) no-repeat 50% 50%;
                                    &:checked {
                                        background-image: url(../../../../public/img/sub/sub5/check_on.svg);
                                    }                                   
                                }

                            }

                            .info {
                                color:#f03f40;
                                font-size: 13px;
                                padding: 8px 0 0 0;
                            }

                            button {
                                cursor: pointer;
                                &.right{
                                    position: absolute;
                                    right: 0;
                                    top: 1px;
                                    width: 110px;
                                    height: 44px;
                                    border: 1px solid #5f0080;
                                    color:#5f0080;
                                    font-weight: 500;
                                    font-size: 14px;
                                    background: #fff;  
                                    border-radius: 3px; 
                                    &.off {
                                        border: 1px solid #ddd;
                                        color:#ddd; 
                                    }
                                    &.address {
                                        position: relative;
                                        width: 100%;
                                        height: 46px;
                                        &.on {
                                            position: absolute;
                                            right: 0;
                                            top: 1px;
                                            width: 110px;
                                            height: 44px;
                                        }
                                        img {
                                            width:20px;
                                            transform: translateY(-1px);
                                        }
                                    }
                                }
                            }
                            // 주소
                            .address-tip-box {
                                width: 100%;
                                height: 46px;
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: space-between;
                                strong {
                                    display: block;
                                    font-size: 12px;
                                    color: #5f0080;
                                    font-weight: 500;
                                }
                                em  {
                                    display: block;
                                    font-size: 12px;
                                    color: #666;
                                    font-weight: 500;
                                }
                            } 
                            // 성별
                            .gender-box {
                                width: 100%;
                                height: 46px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                label {
                                    position: relative;
                                }
                            }
                            // 생년월일 
                            .birth-box {
                                width: 100%;
                                height: 46px;
                                display: flex;
                                border: 1px solid #ccc;
                                justify-content: center;
                                align-items: center;
                                border-radius: 3px;
                                input {
                                    text-align: center;
                                    width: 90px;
                                    height: 100%;
                                    border:0;
                                    padding: 0;
                                    border-radius: 0;
                                    font-size: 14px;
                                    outline: 0;
                                    outline-offset: 0;
                                    transition: none;
                                    color:#666;
                                    font-weight: 500;
                                    &:focus {
                                        outline-color: transparent;
                                    }
                                    &::placeholder {
                                        color:#888;
                                    }
                                }
                                i {
                                    color: #ccc;
                                }
                            }
                        
                            .service {  
                                &.sns {
                                    padding-left: 34px;
                                    label {
                                        margin-right: 60px;
                                        font-weight: 600;
                                    }
                                }
                                .check1 {
                                    font-size: 18px;
                                    font-weight: 600;
                                    display: block;
                                    padding-bottom: 3px;
                                }                              
                                em {
                                    padding-left: 34px;
                                    display: block;
                                    font-size: 12px;
                                    color: #666;
                                    font-weight: 500;
                                    letter-spacing: -1px;
                                    line-height: 140%;
                                    &.ico_sub_dot {
                                        margin-left: 34px;
                                        color: #5f0080;
                                    }
                                }
                            }
                            

                        }
                    }
                }
                .button-box {
                    padding: 60px 0 100px 0;
                    text-align: center;
                    button {
                        width: 240px;
                        height: 56px;
                        border: 0;
                        background: #5f0080;
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}