#goTop {
    z-index: 4;
    position: fixed;
    right:30px;
    bottom: -200px;
    width:58px;
    height:58px;
    transition: all 0.5s;
    &.on{
        bottom: 20px;
    }
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
}