#quickMenu {
    position: absolute;
    top: 700px;
    right:20px;
    z-index: 4;
    width: 80px;
    background: #fff;
    &.on {
        position: fixed;
        top: 50%;
        margin-top:-260px;
    
    }
    .container {
        width: 100%;
        .content {
            width: 100%;
            .row1 {
                width: 100%;
                border: 1px solid #ddd;
                a {
                    display: block;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .row2 {
                width:100%;
                margin:5px 0;                
                a {
                    border:1px solid #ddd;
                    display: flex;
                    width:100%;
                    height: 29px;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    &:last-child{
                        border-top: 0;
                    }
                }
            }
            .row3 {
                width:100%; 
                border: 1px solid #ddd;;
                .up {
                    width:100%;  
                    a {
                        display: flex;
                        width:100%;
                        height: 28px;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: auto;
                            transform: rotate(180deg);
                        }
                    }
                }
                .title {
                    font-size: 12px;
                    color:#333;
                    line-height: 25px;
                    text-align: center;
                    font-weight: 500;
                }
                .img-box {
                    height: auto;
                    max-height: 224px;
                    overflow: hidden;
                    ul {
                        padding: 0 10px;
                        width: 100%;
                        li {
                            width: 100%;
                            margin: 5px 0;
                            a {
                                width: 100%;
                                display: block;
                                img {width:100%;}
                            }
                        }
                    }
                }
                .down {
                    width:100%;  
                    a {
                        display: flex;
                        width:100%;
                        height: 28px;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: auto;                            
                        }
                    }
                }
            }
        }
    }
}