#section6 {
    padding: 90px  0 0 0;
    width:100%;    
    background: #fff;
    .container {
        width:1050px;    
        margin: 0 auto;
        .title {
            width:1050px;    
            text-align: center;
            padding: 0 0 40px 0;
            h2 {
                font-size: 24px;
                font-weight: 600;
                color:#333;
            }
        }
        .content {
            width:100%;
            .slide-container {
                width:100%;
                position: relative;
                .slide-view {
                    position: relative;
                    z-index: 1;
                    width:100%;
                    overflow: hidden;
                    .slide-wrap {
                        width: 267px * 20;
                        display: flex;
                        .slide {
                            width: 267px;
                            .gap {
                                margin: 0 18px 0 0;
                                .img-box {
                                    width:100%;
                                    position: relative;
                                    z-index: 1;                                    
                                    > img {
                                        width:100%;
                                       
                                    }
                                    > span {
                                        z-index: 2;
                                        position: absolute;
                                        bottom: 20px;
                                        right: 20px;
                                        width:45px;
                                        height:45px;
                                        img {
                                            width:100%;
                                        }
                                    }
                                }
                                .caption {
                                    padding: 15px 0 0 0;
                                    line-height: 180%;
                                    h3 {
                                        color:#333;
                                        font-size: 16px;
                                        font-weight: 500;
                                    }
                                    h4 {
                                        strong {
                                            color:#fa622f;
                                            font-size: 16px;
                                            font-weight: 600; 
                                            margin-right:10px;   
                                        }
                                        em {
                                            color:#333;
                                            font-size: 16px;
                                            font-weight: 600;
                                        }
                                        span {
                                            color:#999;
                                            font-size: 14px;
                                            font-weight: 500;
                                            text-decoration: line-through;
                                        }
                                    }
                                    p {
                                        img {
                                            width:15px;
                                            height:15px;
                                            margin-right:3px;
                                        }
                                        span {
                                            font-size: 13px;
                                            color:#999;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .next-arrow-btn {
                    z-index: 2;
                    position: absolute;
                    top:127.367px;
                    right:-30px;
                    width:60px;
                    height:60px;
                    img {
                        transform: rotate(180deg);
                        width:100%;
                        height:100%;
                    }
                }
                .prev-arrow-btn {
                    z-index: 2;
                    position: absolute;
                    top:127.367px;
                    left:-30px;
                    width:60px;
                    height:60px;
                    img {
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
    }    
}